[
    (
        conway: "atO",
        name: "Rectified truncated octahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Rectified_truncated_octahedron",
    ),
    (
        conway: "ktI",
        name: "Hexapentakis truncated icosahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Hexapentakis_truncated_icosahedron",
    ),
    (
        conway: "dA7",
        name: "Heptagonal trapezohedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Heptagonal_trapezohedron",
    ),
    (
        conway: "dA12",
        name: "Dodecagonal trapezohedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Dodecagonal_trapezohedron",
    ),
    (
        conway: "t3kT",
        name: "order-3 truncated triakis tetrahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Order-3_truncated_triakis_tetrahedron",
    ),
    (
        conway: "k6tT",
        name: "hexakis truncated tetrahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Hexakis_truncated_tetrahedron",
    ),
    (
        conway: "C",
        name: "cube",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Cube",
    ),
    (
        conway: "k3P3",
        name: "elongated triangular bipyramid",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Elongated_triangular_bipyramid",
    ),
    (
        conway: "J13",
        name: "pentagonal bipyramid",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Pentagonal_bipyramid",
    ),
    (
        conway: "dP5",
        name: "pentagonal bipyramid",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Pentagonal_bipyramid",
    ),
    (
        conway: "k5P5",
        name: "elongated pentagonal bipyramid",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Elongated_pentagonal_bipyramid",
    ),
    (
        conway: "kD",
        name: "pentakis dodecahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Pentakis_dodecahedron",
    ),
    (
        conway: "sC",
        name: "snub cube",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Snub_cube",
    ),
    (
        conway: "sH",
        name: "snub hexagonal tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Snub_trihexagonal_tiling",
    ),
    (
        conway: "sΔ",
        name: "snub hexagonal tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Snub_trihexagonal_tiling",
    ),
    (
        conway: "sQ",
        name: "snub square tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Snub_square_tiling",
    ),
    (
        conway: "dP3",
        name: "triangular bipyramid",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Triangular_bipyramid",
    ),
    (
        conway: "A2",
        name: "tetrahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Tetrahedron",
    ),
    (
        conway: "Y3",
        name: "tetrahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Tetrahedron",
    ),
    (
        conway: "bD",
        name: "truncated icosidodecahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Truncated_icosidodecahedron",
    ),
    (
        conway: "taD",
        name: "truncated icosidodecahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Truncated_icosidodecahedron",
    ),
    (
        conway: "kC",
        name: "tetrakis hexahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Tetrakis_hexahedron",
    ),
    (
        conway: "aaD",
        name: "rhombicosidodecahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Rhombicosidodecahedron",
    ),
    (
        conway: "eD",
        name: "rhombicosidodecahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Rhombicosidodecahedron",
    ),
    (
        conway: "tD",
        name: "truncated dodecahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Truncated_dodecahedron",
    ),
    (
        conway: "sD",
        name: "snub dodecahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Snub_dodecahedron",
    ),
    (
        conway: "k4A4",
        name: "gyroelongated square bipyramid",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Gyroelongated_square_bipyramid",
    ),
    (
        conway: "tI",
        name: "truncated icosahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Truncated_icosahedron",
    ),
    (
        conway: "aD",
        name: "icosidodecahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Icosidodecahedron",
    ),
    (
        conway: "aC",
        name: "cuboctahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Cuboctahedron",
    ),
    (
        conway: "aaT",
        name: "cuboctahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Cuboctahedron",
    ),
    (
        conway: "aaaT",
        name: "rhombicuboctahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Rhombicuboctahedron",
    ),
    (
        conway: "aaC",
        name: "rhombicuboctahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Rhombicuboctahedron",
    ),
    (
        conway: "eC",
        name: "rhombicuboctahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Rhombicuboctahedron",
    ),
    (
        conway: "tT",
        name: "truncated tetrahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Truncated_tetrahedron",
    ),
    (
        conway: "tC",
        name: "truncated cube",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Truncated_cube",
    ),
    (
        conway: "bT",
        name: "truncated octahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Truncated_octahedron",
    ),
    (
        conway: "tO",
        name: "truncated octahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Truncated_octahedron",
    ),
    (
        conway: "bC",
        name: "truncated cuboctahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Truncated_cuboctahedron",
    ),
    (
        conway: "taC",
        name: "truncated cuboctahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Truncated_cuboctahedron",
    ),
    (
        conway: "P5",
        name: "pentagonal prism",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Pentagonal_prism",
    ),
    (
        conway: "dJ13",
        name: "pentagonal prism",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Pentagonal_prism",
    ),
    (
        conway: "Y4",
        name: "square pyramid",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Square_pyramid",
    ),
    (
        conway: "Q",
        name: "square tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Square_tiling",
    ),
    (
        conway: "jC",
        name: "rhombic dodecahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Rhombic_dodecahedron",
    ),
    (
        conway: "jD",
        name: "rhombic triacontahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Rhombic_triacontahedron",
    ),
    (
        conway: "A5",
        name: "pentagonal antiprism",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Pentagonal_antiprism",
    ),
    (
        conway: "Y5",
        name: "pentagonal pyramid",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Pentagonal_pyramid",
    ),
    (
        conway: "A4",
        name: "square antiprism",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Square_antiprism",
    ),
    (
        conway: "deD",
        name: "deltoidal hexecontahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Deltoidal_hexecontahedron",
    ),
    (
        conway: "oD",
        name: "deltoidal hexecontahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Deltoidal_hexecontahedron",
    ),
    (
        conway: "deC",
        name: "deltoidal icositetrahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Deltoidal_icositetrahedron",
    ),
    (
        conway: "oC",
        name: "deltoidal icositetrahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Deltoidal_icositetrahedron",
    ),
    (
        conway: "P3",
        name: "triangular prism",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Triangular_prism",
    ),
    (
        conway: "kT",
        name: "triakis tetrahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Triakis_tetrahedron",
    ),
    (
        conway: "dbD",
        name: "disdyakis triacontahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Disdyakis_triacontahedron",
    ),
    (
        conway: "mD",
        name: "disdyakis triacontahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Disdyakis_triacontahedron",
    ),
    (
        conway: "gD",
        name: "pentagonal hexecontahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Pentagonal_hexecontahedron",
    ),
    (
        conway: "kO",
        name: "triakis octahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Triakis_octahedron",
    ),
    (
        conway: "kI",
        name: "triakis icosahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Triakis_icosahedron",
    ),
    (
        conway: "gC",
        name: "pentagonal icositetrahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Pentagonal_icositetrahedron",
    ),
    (
        conway: "mC",
        name: "disdyakis dodecahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Disdyakis_dodecahedron",
    ),
    (
        conway: "P6",
        name: "hexagonal prism",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Hexagonal_prism",
    ),
    (
        conway: "P10",
        name: "decagonal prism",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Decagonal_prism",
    ),
    (
        conway: "k4P3",
        name: "triaugmented triangular prism",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Triaugmented_triangular_prism",
    ),
    (
        conway: "A10",
        name: "decagonal antiprism",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Decagonal_antiprism",
    ),
    (
        conway: "A8",
        name: "octagonal antiprism",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Octagonal_antiprism",
    ),
    (
        conway: "A6",
        name: "hexagonal antiprism",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Hexagonal_antiprism",
    ),
    (
        conway: "cC",
        name: "Truncated rhombic dodecahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Chamfered_cube",
    ),
    (
        conway: "t4daC",
        name: "Truncated rhombic dodecahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Chamfered_cube",
    ),
    (
        conway: "t4jC",
        name: "Truncated rhombic dodecahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Chamfered_cube",
    ),
    (
        conway: "gQ",
        name: "Cairo pentagonal tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Cairo_pentagonal_tiling",
    ),
    (
        conway: "tQ",
        name: "truncated square tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Truncated_square_tiling",
    ),
    (
        conway: "Δ",
        name: "triangular tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Triangular_tiling",
    ),
    (
        conway: "dH",
        name: "triangular tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Triangular_tiling",
    ),
    (
        conway: "H",
        name: "hexagonal tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Hexagonal_tiling",
    ),
    (
        conway: "dΔ",
        name: "hexagonal tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Hexagonal_tiling",
    ),
    (
        conway: "eH",
        name: "Rhombitrihexagonal tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Rhombitrihexagonal_tiling",
    ),
    (
        conway: "eΔ",
        name: "Rhombitrihexagonal tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Rhombitrihexagonal_tiling",
    ),
    (
        conway: "tH",
        name: "Truncated hexagonal tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Truncated_hexagonal_tiling",
    ),
    (
        conway: "bH",
        name: "Truncated trihexagonal tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Truncated_trihexagonal_tiling",
    ),
    (
        conway: "bΔ",
        name: "Truncated trihexagonal tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Truncated_trihexagonal_tiling",
    ),
    (
        conway: "dP6",
        name: "hexagonal bipyramid",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Hexagonal_bipyramid",
    ),
    (
        conway: "dA3",
        name: "trigonal trapezohedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Trigonal_trapezohedron",
    ),
    (
        conway: "P12",
        name: "dodecagonal prism",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Dodecagonal_prism",
    ),
    (
        conway: "P8",
        name: "octagonal prism",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Octagonal_prism",
    ),
    (
        conway: "dA5",
        name: "pentagonal trapezohedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Pentagonal_trapezohedron",
    ),
    (
        conway: "aH",
        name: "trihexagonal tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Trihexagonal_tiling",
    ),
    (
        conway: "aΔ",
        name: "trihexagonal tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Trihexagonal_tiling",
    ),
    (
        conway: "oH",
        name: "Deltoidal trihexagonal tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Deltoidal_trihexagonal_tiling",
    ),
    (
        conway: "oΔ",
        name: "Deltoidal trihexagonal tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Deltoidal_trihexagonal_tiling",
    ),
    (
        conway: "dk6tT",
        name: "Truncated triakis tetrahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Truncated_triakis_tetrahedron",
    ),
    (
        conway: "t6kT",
        name: "Truncated triakis tetrahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Truncated_triakis_tetrahedron",
    ),
    (
        conway: "P9",
        name: "enneagonal prism",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Enneagonal_prism",
    ),
    (
        conway: "P7",
        name: "heptagonal prism",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Heptagonal_prism",
    ),
    (
        conway: "P11",
        name: "hendecagonal prism",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Hendecagonal_prism",
    ),
    (
        conway: "dA4",
        name: "tetragonal trapezohedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Tetragonal_trapezohedron",
    ),
    (
        conway: "dakD",
        name: "rhombic enneacontahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Rhombic_enneacontahedron",
    ),
    (
        conway: "jtI",
        name: "rhombic enneacontahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Rhombic_enneacontahedron",
    ),
    (
        conway: "dA10",
        name: "decagonal trapezohedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Decagonal_trapezohedron",
    ),
    (
        conway: "dP10",
        name: "decagonal bipyramid",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Decagonal_bipyramid",
    ),
    (
        conway: "A9",
        name: "enneagonal antiprism",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Enneagonal_antiprism",
    ),
    (
        conway: "gH",
        name: "Floret pentagonal tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Floret_pentagonal_tiling",
    ),
    (
        conway: "gΔ",
        name: "Floret pentagonal tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Floret_pentagonal_tiling",
    ),
    (
        conway: "A7",
        name: "heptagonal antiprism",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Heptagonal_antiprism",
    ),
    (
        conway: "Y6",
        name: "hexagonal pyramid",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Hexagonal_pyramid",
    ),
    (
        conway: "dA6",
        name: "hexagonal trapezohedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Hexagonal_trapezohedron",
    ),
    (
        conway: "mH",
        name: "Kisrhombille tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Kisrhombille_tiling",
    ),
    (
        conway: "mΔ",
        name: "Kisrhombille tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Kisrhombille_tiling",
    ),
    (
        conway: "dwdI",
        name: "pentakis snub dodecahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Pentakis_snub_dodecahedron",
    ),
    (
        conway: "k5sD",
        name: "pentakis snub dodecahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Pentakis_snub_dodecahedron",
    ),
    (
        conway: "dP8",
        name: "octagonal bipyramid",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Octagonal_bipyramid",
    ),
    (
        conway: "dA8",
        name: "octagonal trapezohedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Octagonal_trapezohedron",
    ),
    (
        conway: "dcD",
        name: "pentakis icosidodecahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Pentakis_icosidodecahedron",
    ),
    (
        conway: "k5aD",
        name: "pentakis icosidodecahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Pentakis_icosidodecahedron",
    ),
    (
        conway: "u2I",
        name: "pentakis icosidodecahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Pentakis_icosidodecahedron",
    ),
    (
        conway: "uI",
        name: "pentakis icosidodecahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Pentakis_icosidodecahedron",
    ),
    (
        conway: "jH",
        name: "rhombille tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Rhombille_tiling",
    ),
    (
        conway: "jΔ",
        name: "rhombille tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Rhombille_tiling",
    ),
    (
        conway: "dcC",
        name: "tetrakis cuboctahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Tetrakis_cuboctahedron",
    ),
    (
        conway: "k4aC",
        name: "tetrakis cuboctahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Tetrakis_cuboctahedron",
    ),
    (
        conway: "k3tT",
        name: "Triakis truncated tetrahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Triakis_truncated_tetrahedron",
    ),
    (
        conway: "kΔ",
        name: "Triakis triangular tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Triakis_triangular_tiling",
    ),
    (
        conway: "atI",
        name: "Rectified truncated icosahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Rectified_truncated_icosahedron",
    ),
    (
        conway: "kQ",
        name: "tetrakis square tiling",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Tetrakis_square_tiling",
    ),
    (
        conway: "O",
        name: "regular octahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Regular_octahedron",
    ),
    (
        conway: "aT",
        name: "regular octahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Regular_octahedron",
    ),
    (
        conway: "T",
        name: "regular tetrahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Regular_tetrahedron",
    ),
    (
        conway: "Y3",
        name: "regular tetrahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Regular_tetrahedron",
    ),
    (
        conway: "D",
        name: "regular dodecahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Regular_dodecahedron",
    ),
    (
        conway: "cT",
        name: "chamfered tetrahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Chamfered_tetrahedron",
    ),
    (
        conway: "pT",
        name: "tetrahedrally diminished dodecahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Tetrahedrally_diminished_dodecahedron",
    ),
    (
        conway: "dP7",
        name: "heptagonal bipyramid",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Heptagonal_bipyramid",
    ),
    (
        conway: "I",
        name: "regular icosahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Regular_icosahedron",
    ),
    (
        conway: "sT",
        name: "regular icosahedron",
        bowers: "",
        wiki: "https://en.wikipedia.org/wiki/Regular_icosahedron",
    ),
    (
        conway: "A12",
        name: "dodecagonal antiprism",
        bowers: "",
        wiki: "",
    ),
    (
        conway: "A11",
        name: "hendecagonal antiprism",
        bowers: "",
        wiki: "",
    ),
    (
        conway: "kt5daD",
        name: "",
        bowers: "",
        wiki: "",
    ),
    (
        conway: "k4sC",
        name: "",
        bowers: "",
        wiki: "",
    ),
    (
        conway: "P4",
        name: "quadrilateral prism",
        bowers: "",
        wiki: "",
    ),
    (
        conway: "dk5sD",
        name: "",
        bowers: "",
        wiki: "",
    ),
    (
        conway: "cD",
        name: "chamfered dodecahedron",
        bowers: "",
        wiki: "",
    ),
    (
        conway: "Y7",
        name: "heptagonal pyramid",
        bowers: "",
        wiki: "",
    ),
    (
        conway: "A3",
        name: "triangular antiprism",
        bowers: "",
        wiki: "",
    ),
    (
        conway: "kt6dtT",
        name: "",
        bowers: "",
        wiki: "",
    ),
    (
        conway: "dP4",
        name: "quadrilateral bipyramid",
        bowers: "",
        wiki: "",
    ),
    (
        conway: "dP9",
        name: "enneagonal bipyramid",
        bowers: "",
        wiki: "",
    ),
    (
        conway: "Y8",
        name: "octagonal pyramid",
        bowers: "",
        wiki: "",
    ),
]
